.info-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 50px;
    flex-direction: column;
    position: relative;
    top: 70px;
    width: 100%;
}

.form {
    width: 20%;
}

.pokedex {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pokedex-img:hover {
    cursor: pointer;
}

body {
    overflow-y: hidden;
}