.info-container {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    margin-right: 50px;
    flex-direction: column;
}

.form {
    width: 25%;
}

.poke-card {
    width: 25%;
    border-radius: 15px 15px 0px 0px;
    border: none;
    box-shadow: none;
}

body {
    overflow-y: hidden;
    height: fit-content;
}